/* -------------------------------Settings------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ededed;
  background-image: url("../img/background-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 0%;

  font-family: "Roboto", sans-serif;
  color: #575757;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #575757;
  cursor: pointer;
}
a:visited,
a:link {
  color: #575757;
}

/* -------------------------------------------------------------- */

/* -------------------------------Navigation------------------------------- */

nav {
  display: flex;
  justify-content: flex-start;

  /* background-color: black; */

  height: 110px;

  padding: 5px 150px 5px 150px;
  box-shadow: 0px 4px 9px 0px #0000002e;

  font-size: 20px;
  transition: all 1s ease;
}

#logo {
  width: 100px;
  height: 100px;

  margin-right: 100px;

  cursor: pointer;
}

#index,
#gites,
#aPropos,
#contact{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 70px;

  transition-duration: 0.3s;
}

#contact {
  margin-right: 0px;
}

#rsv {
  width: 220px;
  height: 60px;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;

  background-color: #c4a464;
  border: solid 1px #977f4f;
  box-shadow: 0px 4px 9px 0px #0000004f;

  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;

  transition-duration: 0.3s;

  cursor: pointer;
}

#exit {
  display: none;

  height: 44px;

  margin-top: 15px;

  background-color: rgba(255, 255, 255, 0);
  border: none;

  font-size: 40px;
  color: #c8a45d;

  cursor: pointer;

  transition: all 1s ease;
}

/* -----Animation Navigation----- */

#index:hover,
#gites:hover,
#aPropos:hover,
#contact:hover {
  transform: scale(1.05);
}
#rsv:hover {
  background-color: rgb(207, 176, 114);
}
#exit:hover {
  color: rgb(207, 176, 114);
}

/* -------------------------------------------------------------- */

/* -------------------------------Navigation MOBILE------------------------------- */

.burger_menu{
  display: none;
  flex-direction: column;
  justify-content: center;

  width: 70px;
  height: 70px;

  margin: auto;
  margin-right: 0px;
}

#burger_slide1, 
#burger_slide2,
#burger_slide3{
  width: 63px;
  height: 8px;
  
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: auto;

  background-color: #606060;

  border: none;

  transition: ease 1s;

  transform: scale(0.7);
}

.burger_cl{
  display: none;
  flex-direction: column;
  justify-content: center;

  margin-top: 100px;
  margin-left: -200px;


  transition: all 1s ease;
}

#index_burger,
#gites_burger,
#aPropos_burger,
#contact_burger{

  margin-bottom: 70px;

  font-size: 25px;
}

#exit_burger {
  display: none;

  height: 44px;

  margin-top: 15px;

  background-color: rgba(255, 255, 255, 0);
  border: none;

  font-size: 40px;
  color: #c8a45d;

  cursor: pointer;

  transition: all 1s ease;
}

/* -------------------------------------------------------------- */

/* -------------------------------Formulaire search nav------------------------------- */

.form_search {
  position: relative;

  display: none;
  /* display: flex; */
  flex-direction: column;

  width: 330px;
  height: 543px;

  padding: 20px;

  top: -745px;

  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 240px;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(203, 203, 203, 0.46);
  border: 1px solid #000000;

  transition: all 1.3s ease;
}

#logo1 {
  width: 55%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.form_search h3 {
  margin-top: 5px;
  margin-bottom: 15px;

  font-size: 19px;
  font-weight: normal;

  color: #c8a45d;
}

#select_chambre {
  margin-bottom: 15px;

  border: none;
  background-color: rgba(87, 87, 87, 0);

  color: #575757;
  font-size: 22px;
}

#select_hr {
  width: 100%;
  margin-left: auto;
  margin-bottom: 25px;
}

#du,
#au {
  margin-top: 15px;
  margin-bottom: 15px;

  font-size: 20px;
}
.form_search hr {
  width: 86%;
  margin-left: auto;
  margin-bottom: 20px;
}

.form_search span {
  margin-left: 15px;
  font-size: 21px;
}

#search {
  width: 330px;
  height: 85px;
  margin-top: 16px;
  margin-left: -21px;

  padding-top: 13px;
  padding-bottom: 13px;

  font-size: 20px;
  background-color: #c4a464;
  border: solid 1px black;
  border-bottom: none;
  color: #ffffff;

  cursor: pointer;
}

#search:hover {
  background-color: rgb(207, 176, 114);
}

/* -------------------------------------------------------------- */

/* -------------------------------Formulaire search nav------------------------------- */

.form_connexion {
  position: relative;

  display: none;
  /* display: flex; */
  flex-direction: column;

  width: 330px;
  height: 474px;

  padding: 20px;

  top: -745px;

  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 240px;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(203, 203, 203, 0.46);
  border: 1px solid #000000;

  transition: all 1.3s ease;
}

#logo1 {
  width: 55%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.form_connexion h3 {
  margin-top: 5px;
  margin-bottom: 30px;

  font-size: 19px;
  font-weight: normal;

  color: #c8a45d;
}

.form_connexion input {
  margin-bottom: 15px;

  border: none;
  background-color: rgba(87, 87, 87, 0);

  color: #575757;
  font-size: 22px;
}

#input_hr {
  width: 100%;
  margin-left: auto;
  margin-bottom: 25px;
}

.form_connexion hr {
  width: 86%;
  margin-left: auto;
  margin-bottom: 20px;
}

.form_connexion span {
  margin-left: 15px;
  font-size: 21px;
}

#connexion {
  width: 330px;
  height: 58px;
  margin-top: 11px;
  margin-left: -21px;

  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 20px;
  background-color: #c4a464;
  border: solid 1px black;
  border-bottom: none;
  color: #ffffff;

  cursor: pointer;
}

#connexion:hover {
  background-color: rgb(207, 176, 114);
}

/* -------------------------------------------------------------- */

/* -------------------------------Header/Admin------------------------------- */
#dash_btn,
#add_btn,
#deco_btn {
  width: 210px;
  height: 50px;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;

  background-color: #c4a464;
  border: solid 1px #977f4f;
  box-shadow: 0px 4px 9px 0px #0000004f;

  color: #ffffff;
  font-size: 19px;
  font-family: "Roboto", sans-serif;

  transition-duration: 0.3s;

  cursor: pointer;
}

/* -------------------------------------------------------------- */

/* -------------------------------Index Accueil------------------------------- */
.container_index {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 83vh;
  margin-top: 50px;

  text-align: center;
}

.container_index h1 {
  margin-top: 70px;

  font-weight: lighter;
  font-size: 40px;

  animation: 2.8s ease accueil;
}

.container_index span {
  color: #c8a45d;
}

.galerie_img {
  display: flex;
  justify-content: space-around;
  margin-top: auto;

  height: 300px;
}

.gi_1 {
  width: 50%;

  background-image: url("../img/1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0px 6px 9px 7px #000000a8;
}

.gi_2 {
  position: relative;

  width: 70%;
  margin-top: -175px;

  background-image: url("../img/2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0px 6px 9px 7px #000000a8;

  z-index: 10;

  animation: 1.8s ease imgCentre;
}

.gi_3 {
  width: 50%;

  background-image: url("../img/1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0px 6px 9px 7px #000000a8;
}

/* -----Animation Accueil----- */

@keyframes imgCentre {
  0% {
    top: 500px;
  }
  100% {
    top: 0px;
  }
}

@keyframes accueil {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* -------------------------------------------------------------- */

/* ------------------------------- Gite------------------------------- */

.container_gite {
  padding: 100px;
}

.container_gite h1 {
  margin-bottom: 10px;

  text-align: center;

  font-size: 65px;
  font-weight: 500;
  font-family: "Dancing Script", cursive;
}

.desc_gite {
  position: relative;

  display: flex;
  justify-content: center;

  margin-top: 25px;

  top: 0px;

  transition: all 1.5s ease;

  animation: 1.5s ease containerGite;
}

.img_gite {
  width: 50%;
  margin-left: auto;
}

.img_gite img {
  display: block;

  width: 80%;
  margin: auto;

  border: solid 1px #5757573b;
  box-shadow: 0px 4px 9px 0px #0000002e;

  cursor: zoom-in;

  transition-duration: 0.2s;
}

.more_img {
  display: none;

  width: 100%;
}

.more_img img {
  display: block;

  width: 80%;
  margin: 10px;

  border: solid 1px #5757573b;
  box-shadow: 0px 4px 9px 0px #0000002e;
}

.back_zoom {
  display: none;

  width: 220px;
  height: 60px;

  margin-top: 30px;
  margin-left: auto;

  background-color: #c4a464;
  border: solid 1px #977f4f;
  box-shadow: 0px 4px 9px 0px #0000004f;

  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;

  transition-duration: 0.3s;

  cursor: pointer;
}

.desc_text_gite {
  width: 50%;

  padding: 15px;

  border-left: solid 2px #575757;
}

#desc_titre {
  margin-bottom: 10px;
}

#desc_p {
  margin-top: 15px;
  margin-left: 10px;
}

#sp {
  margin-top: 10px;
  margin-left: 10px;

  color: #0000007a;
}

#couchage_titre {
  margin-top: 25px;
  margin-bottom: 5px;
}

#svg_icon {
  width: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.equipements {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

#equipement_titre {
  margin-top: 25px;
  margin-bottom: 5px;
}

#wifi,
#tv,
#cuisine,
#animaux,
#linge,
#couchage {
  display: flex;

  margin-left: 10px;
}

#couchage {
  margin-bottom: 10px;
}

.equipements p,
#couchage p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

#rsv_offre {
  display: block;

  width: 220px;
  height: 60px;

  margin-top: 30px;
  margin-left: 10px;

  background-color: #c4a464;
  border: solid 1px #977f4f;
  box-shadow: 0px 4px 9px 0px #0000004f;

  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;

  transition-duration: 0.3s;

  cursor: pointer;
}

/* -----Animation Gite----- */
@keyframes containerGite {
  0% {
    top: 1000px;
  }
  100% {
    top: 0px;
  }
}
.img_gite img:hover {
  width: 81%;
}

#rsv_offre:hover, #btn_add:hover, #dash_btn:hover, #add_btn:hover, #deco_btn:hover {
  background-color: rgb(207, 176, 114);
}

/* -------------------------------------------------------------- */

/* -------------------------------Dashboard------------------------------- */

.container_dash {
  padding: 100px;
}

.container_dash h1 {
  margin-bottom: 10px;

  text-align: center;

  font-size: 65px;
  font-weight: 500;
  font-family: "Dancing Script", cursive;
}

.desc_dash {
  position: relative;

  display: flex;
  justify-content: center;

  margin-top: 25px;

  top: 0px;

  transition: all 1.5s ease;

  animation: 1.5s ease containerGite;
}

.img_dash {
  width: 50%;
  margin-left: auto;
}

.img_dash img {
  display: block;

  width: 80%;
  margin: auto;

  border: solid 1px #5757573b;
  box-shadow: 0px 4px 9px 0px #0000002e;

  cursor: zoom-in;

  transition-duration: 0.2s;
}

.desc_text_dash {
  width: 50%;

  padding: 15px;

  border-left: solid 2px #575757;
}

#desc_titre_dash {
  margin-bottom: 10px;
}

#desc_p_dash {
  margin-top: 15px;
  margin-left: 10px;
}

#sp_dash {
  margin-top: 10px;
  margin-left: 10px;

  color: #0000007a;
}

#couchage_titre_dash {
  margin-top: 25px;
  margin-bottom: 5px;
}

#svg_icon_dash {
  width: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.equipements_dash {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

#equipement_titre_dash {
  margin-top: 25px;
  margin-bottom: 5px;
}

#wifi_dash,
#tv_dash,
#cuisine_dash,
#animaux_dash,
#linge_dash,
#couchage_dash {
  display: flex;

  margin-left: 10px;
}

#couchage_dash {
  margin-bottom: 10px;
}

.equipements_dash p,
#couchage_dash p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.two_btn {
  display: flex;
  flex-direction: row;
}

#edit {
  display: block;

  width: 220px;
  height: 60px;

  margin-top: 30px;
  margin-left: 10px;
  margin-right: 25px;

  background-color: #f0ad4e;
  border: solid 1px #eea236;
  box-shadow: 0px 4px 9px 0px #0000004f;

  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;

  transition-duration: 0.2s;

  cursor: pointer;
}

#delete {
  display: block;

  width: 220px;
  height: 60px;

  margin-top: 30px;
  margin-left: 10px;

  background-color: #d9534f;
  border: solid 1px #d43f3a;
  box-shadow: 0px 4px 9px 0px #0000004f;

  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;

  transition-duration: 0.2s;

  cursor: pointer;
}

/* -----Animation dashboard----- */

#edit:hover {
  background-color: #ec971f;
  border-color: #d58512;
}

#delete:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

/* -------------------------------------------------------------- */

/* -------------------------------Formulaire d'ajout des Gîtes------------------------------- */

.container_add {
  padding: 100px;
}

.container_add h1 {
  margin-bottom: 40px;

  text-align: center;

  font-size: 65px;
  font-weight: 500;
  font-family: "Dancing Script", cursive;
}

.container_add form {
  display: flex;
  flex-direction: column;

  width: 800px;
  margin: auto;
  margin-bottom: 15px;

  padding: 25px;

  background-color: white;

  border: solid 2px #0006;

  font-size: 20px;
}

.container_add input {
  width: 265px;
  height: 40px;

  margin-top: 10px;
  margin-bottom: 35px;
  margin-right: auto;

  padding-left: 15px;

  outline: none;
  border: solid 2px #9d9d9d;
  background-color: rgba(255, 255, 255, 0);

  font-size: 18px;
  color: rgb(134, 134, 134);
  font-family: "Roboto", sans-serif;
}

.container_add input::placeholder {
  font-size: 16px;
}

.container_add input[type="file"] {
  margin-bottom: 15px;
  padding-top: 4px;
}

#txt_img {
  font-size: 17px;
}

#select_pets {
  width: 265px;
  height: 40px;

  margin-top: 10px;
  margin-bottom: 35px;

  border: solid 2px #9d9d9d;
  background-color: rgba(87, 87, 87, 0);

  color: #575757;
  font-size: 18px;
}

#none_select {
  cursor: none;
}

#descriptionFormule {
  width: 100%;
  height: 240px;

  margin-top: 10px;
  margin-bottom: 30px;

  padding-left: 15px;
  padding-top: 15px;

  outline: none;
  resize: none;

  border: solid 2px #9d9d9d;

  background-color: rgba(255, 255, 255, 0);

  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgb(134, 134, 134);
}

#btn_add {
  display: block;

  width: 220px;
  height: 60px;

  margin: auto;

  background-color: #c4a464;
  border: solid 1px #977f4f;
  box-shadow: 0px 4px 9px 0px #0000004f;

  color: #ffffff;

  font-size: 20px;
  font-family: "Roboto", sans-serif;

  transition-duration: 0.3s;

  cursor: pointer;
}

/* -------------------------------------------------------------- */

/* -------------------------------Réservation------------------------------- */

.container_rsv{
  margin: auto;

  padding: 100px;
}

.container_rsv form{
  display: flex;
  flex-direction: column;

  width: 55vw;
  margin: auto;
  margin-bottom: 15px;

  padding: 25px;

  background-color: white;

  border: solid 2px #0006;
  
  font-size: 20px;
}

.top_rsv{
  display: flex;
  flex-direction: row;
}

.left_rsv{
  display: flex;
  flex-direction: column;
}

.right_rsv{
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
}

.right_rsv h1{
  font-size: 50px;
  font-weight: normal;
  font-family: "Dancing Script", cursive;
}

.right_rsv #logo{
  width: 150px;
  height: 150px;

  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  cursor: pointer;

}

.container_rsv input {
  width: 265px;
  height: 40px;

  margin-top: 10px;
  margin-bottom: 35px;
  margin-right: auto;

  padding-left: 15px;

  outline: none;
  border: solid 2px #9d9d9d;
  background-color: rgba(255, 255, 255, 0);

  font-size: 18px;
  color: rgb(134, 134, 134);
  font-family: "Roboto", sans-serif;
}

.container_rsv input::placeholder {
  font-size: 16px;
}

.container_rsv textarea {
  width: 100%;
  height: 240px;

  margin-top: 10px;
  margin-bottom: 30px;

  padding-left: 15px;
  padding-top: 15px;

  outline: none;
  resize: none;

  border: solid 2px #9d9d9d;

  background-color: rgba(255, 255, 255, 0);

  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgb(134, 134, 134);
}