/* -------------------------------Settings------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ededed;
  background-image: url("../img/background-logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 0%;

  font-family: "Roboto", sans-serif;
  color: #575757;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #575757;
  cursor: pointer;
}
a:visited,
a:link {
  color: #575757;
}

/* -------------------------------------------------------------- */

/* -------------------------------Navigation------------------------------- */

nav {
  display: flex;
  justify-content: flex-start;

  /* background-color: black; */

  height: 110px;

  padding: 5px 150px 5px 150px;
  box-shadow: 0px 4px 9px 0px #0000002e;

  font-size: 20px;
  transition: all 1s ease;
}

#logo {
  width: 100px;
  height: 100px;

  margin-right: 100px;
  
  cursor: pointer;
}

#index,
#gites,
#aPropos,
#contact {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 70px;

  transition-duration: 0.3s;
}

#contact {
  margin-right: 0px;
}

#rsv {
  width: 220px;
  height: 60px;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;

  background-color: #c4a464;
  border: solid 1px #977f4f;
  box-shadow: 0px 4px 9px 0px #0000004f;

  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto", sans-serif;

  transition-duration: 0.3s;

  cursor: pointer;
}

#exit{
  display: none;

  height: 44px;

  margin-top: 15px;

  background-color: rgba(255, 255, 255, 0);
  border: none;

  font-size: 40px;
  color: #C8A45D;

  cursor: pointer;
}

/* -----Animation Navigation----- */

#index:hover,
#gites:hover,
#aPropos:hover,
#contact:hover {
  transform: scale(1.05);
}
#rsv:hover {
  background-color: rgb(207, 176, 114);
}
#exit:hover{
  color: rgb(207, 176, 114);
}
/* -------------------------------------------------------------- */

/* -------------------------------Formulaire search nav------------------------------- */

.form_search {
  position: relative;

  display: none;
  /* display: flex; */
  flex-direction: column;

  width: 330px;
  height: 543px;

  padding: 20px;

  top: -745px;

  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 240px;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(203, 203, 203, 0.46);
  border: 1px solid #000000;

  transition: all 1.3s ease;
}

#logo1 {
  width: 55%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.form_search h3 {
  margin-top: 5px;
  margin-bottom: 15px;

  font-size: 19px;
  font-weight: normal;
  
  color: #c8a45d;
}

#select_chambre {
  margin-bottom: 15px;

  border: none;
  background-color: rgba(87, 87, 87, 0);

  color: #575757;
  font-size: 22px;
}

#select_hr {
  width: 100%;
  margin-left: auto;
  margin-bottom: 25px;
}

#du,
#au {
  margin-top: 15px;
  margin-bottom: 15px;

  font-size: 20px;
}
.form_search hr {
  width: 86%;
  margin-left: auto;
  margin-bottom: 20px;
}

.form_search span {
  margin-left: 15px;
  font-size: 21px;
}

#search {
  width: 330px;
  height: 85px;
  margin-top: 16px;
  margin-left: -21px;

  padding-top: 13px;
  padding-bottom: 13px;

  font-size: 20px;
  background-color: #c4a464;
  border: solid 1px black;
  border-bottom: none;
  color: #ffffff;

  cursor: pointer;
}

#search:hover{
  background-color: rgb(207, 176, 114);
}

/* -------------------------------------------------------------- */

/* -------------------------------Formulaire search nav------------------------------- */

.form_connexion {
  position: relative;

  display: none;
  /* display: flex; */
  flex-direction: column;

  width: 330px;
  height: 474px;

  padding: 20px;

  top: -745px;

  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 240px;

  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(203, 203, 203, 0.46);
  border: 1px solid #000000;

  transition: all 1.3s ease;
}

#logo1 {
  width: 55%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.form_connexion h3 {
  margin-top: 5px;
  margin-bottom: 30px;

  font-size: 19px;
  font-weight: normal;
  
  color: #c8a45d;
}

.form_connexion input {
  margin-bottom: 15px;

  border: none;
  background-color: rgba(87, 87, 87, 0);

  color: #575757;
  font-size: 22px;
}

#input_hr {
  width: 100%;
  margin-left: auto;
  margin-bottom: 25px;
}

.form_connexion hr {
  width: 86%;
  margin-left: auto;
  margin-bottom: 20px;
}

.form_connexion span {
  margin-left: 15px;
  font-size: 21px;
}

#connexion {
  width: 330px;
  height: 58px;
  margin-top: 11px;
  margin-left: -21px;

  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 20px;
  background-color: #c4a464;
  border: solid 1px black;
  border-bottom: none;
  color: #ffffff;

  cursor: pointer;
}

#connexion:hover{
  background-color: rgb(207, 176, 114);
}

/* -------------------------------------------------------------- */

/* -------------------------------Index Accueil------------------------------- */
.container_index {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 83vh;
  margin-top: 50px;

  text-align: center;
}

.container_index h1{
  margin-top: 70px;

  font-weight: lighter;
  font-size: 40px;

  animation: 2.8s ease accueil;
}

.container_index span{
  color: #C8A45D;
}

.galerie_img{
  display: flex;
  justify-content: space-around;
  margin-top: auto;

  height: 300px;
}

.gi_1{
  width: 50%;

  background-image: url('../img/1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  box-shadow: 0px 6px 9px 7px #000000a8;
}

.gi_2{
  position: relative;

  width: 70%;
  margin-top: -175px;

  background-image: url('../img/2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0px 6px 9px 7px #000000a8;
  
  z-index: 10;

  animation: 1.8s ease imgCentre;
}

.gi_3{
  width: 50%;

  background-image: url('../img/1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0px 6px 9px 7px #000000a8;
}

/* -----Animation Accueil----- */

@keyframes imgCentre {
  0%{
    top: 500px;
  }
  100%{
    top: 0px;
  }
}

@keyframes accueil {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
